/**
* FOOTER 
*/

.footer {
	text-align: center;
	border-top: 4px solid $wedgewood;
	@include box-shadow(rgba(0, 0, 0, 0.1) 0 15px 27px inset);
	padding:10px 0 0 0;

	p {
		@include font-size(10);
		margin:0;
	}
}