/**
* MIXINS & FUNCTIONS
* All mixins and functions go here.
*/

/**
* @mixin breakpoint
* Used to include styles for specific breakpoints.
* Usage: @include breakpoint(400px) {color:red;}
*
* @param $size - min-width to apply certain styles.
*/
@mixin breakpoint($size){
	@media all and (min-width: $size) {@content;}
}

/**
* @mixin vendor 
* Apply vendor prefixes to elements.
* Usage: @include vendor(transition, all .5s linear);
*
* @param $name - property to apply vendor prefix to.
* @param $args - value of the style property.
*/
@mixin vendor ($name, $arg) {
	#{$name}: $arg;
	-webkit-#{$name}: $arg;
	-ms-#{$name}: $arg;
	-moz-#{$name}: $arg;
	-o-#{$name}: $arg;
}

/**
* @mixin font-size
* Applies rem unit for font size
* Credit: http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
* Usage: @include font-size(13);
*
* @param $sizeValue - value in pixels.
*/
@mixin font-size($sizeValue: 16) {
	font-size: ($sizeValue) + px;
	font-size: $sizeValue/16 + rem;
}

/**
* @mixin keyframes
* Add keyframes to any element and it will include all the prefixes.
* Usage: @include keyframes(example) {
* 	0% {opacity: 0}
* 	100% {opacity:1} 
* }
*
* @param name - name of animation
*/
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {@content; }
	@-moz-keyframes #{$name} {@content;}
	@-ms-keyframes #{$name} {@content;}
	@keyframes #{$name} {@content;} 
}

/** 
* @mixin clearfix
*/
@mixin clearfix () {
	clear:both;
	display: block;

	&:after {
		clear:both;
		display:block;
		content:"";
		height:0;
	}
}
