/**
* TYPOGRAPHY
* All text related styles
*/

@for $i from 1 through 6 {
	h#{$i} {
		font-family: 'open_sansbold';
		@include font-size(30/$i+10);
		margin-bottom: 5px;
		line-height: normal;
	} 
}

h1 {
	@include font-size(30);
}

a {
	color:$wedgewood;

	&:hover {
		color:$sea;
	}
}

p {
	@include font-size(14);
	margin-bottom:15px;
	line-height:20px;

	@include breakpoint($desktop-small) {
		line-height: 22px;
	}
}