/** 
* VARIABLES
*/

$base-size: 16px;
$max-width: 1200px;

/* Breakpoints */
$desktop: 1920px;
$desktop-small: 1200px;
$tablet-land: 1024px;
$tablet-port: 768px;
$mobile-land: 480px;

/* Colors */
$firefly: #0A1D29;
$wedgewood: #43858E;
$parchment: #F0EAD2;
$sea: #73A3A2;
$silver: #ccc;

/* zIndexes */
$header: 5;
$profilePic: 4;
