/** 
* HOME PAGE
* All home page related styles go here.
*/

/* Compass Imports */
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/reset/utilities";

@import "imports/base/variables.scss";
@import "imports/base/mixins.scss";

.page-preview {
	margin:0 0 30px 0;
	@include clearfix();

	.subhead {
		font-family: 'open_sansbold';
		@include font-size(14);
		color:$wedgewood;
	}
}

@include keyframes(profilePicRoll) {
	0% {opacity:0;}
	// 50% {opacity:1;}
	100% {opacity:1;@include vendor(transform, rotate(360deg) scaleX(1) scaleY(1)); left:0;}
}

.profile-pic {
	overflow: hidden;
	@include border-radius(100px);
	border:5px solid $wedgewood;
	width:100px;
	position: relative;
	height: 100px;
	left:-100%;
	z-index: $profilePic;
	@include vendor(animation, profilePicRoll ease-in-out 1s);
  	@include vendor(animation-iteration-count, 1);
  	@include vendor(animation-fill-mode, forwards);
}